<section class="about_container">
    <div class="about">

        <h1>Sobre a Aplicação <span class="span_about">Moments</span></h1>
    
        <ul class="list_text">
                <li><span class="span_about">§</span> Nossa aplicação foi desenvolvida para oferecer um espaço único onde cada usuário pode 
                compartilhar momentos especiais de sua vida de forma prática e envolvente. Aqui, você pode 
                criar postagens que capturam lembranças valiosas, sejam elas grandes eventos ou pequenos detalhes do dia a dia.</li>
            
                <li><span class="span_about">§</span> Tém de compartilhar suas experiências, você pode adicionar fotos para enriquecer suas histórias e permitir
                que os outros usuários interajam com comentários e reações. A intenção é criar um ambiente acolhedor onde 
                todos podem se conectar, refletir e celebrar juntos as jornadas de cada um.</li>
            
                <li><span class="span_about">§</span> Este projeto nasceu da necessidade de uma plataforma mais pessoal e interativa, onde a ênfase 
                está na autenticidade e nas experiências significativas. Queremos que todos possam preservar 
                memórias e construir novas conexões, transformando cada momento em uma parte do que somos.</li>
        </ul>
    </div>
</section>
