<div class="field_div">

    <nav>
      <h1>MOMENTS</h1>
      
      <ul>

        <li class="li_field"><a routerLink="/">Início</a></li>
        <li class="li_field"><a routerLink="/about">Sobre</a></li>
        <li class="li_field"><a href="">Contato</a></li>

        <li class="li_login">
          <po-button
            p-aria-label="p-aria-label"
            p-danger="boolean"
            p-kind="string"
            p-label="Entrar"
            p-size="medium"
            routerLink="/login"
            >
          </po-button>
        </li>
        <li>
          <po-button
            p-aria-label="po-button"
            p-danger="boolean"
            p-kind="string"
            p-label="cadastrar-se"
            p-size="medium"
            routerLink="/register">
          </po-button>
        </li>
      </ul>
    </nav>

  </div>